<div class="container">
    <div class="form-container">
        <h2>基本資料</h2>
        <form [formGroup]="form">
            <div class="form-group">
                <label for="name">姓名</label>
                <input type="text" id="name" placeholder="請輸入姓名" formControlName="name">
                @if (name.hasError('required')) {
                <div class="error-message">請輸入姓名</div>
                }
            </div>

            <div class="form-group">
                <label for="address">地址</label>
                <input type="text" id="address" placeholder="請輸入地址" formControlName="address">
                @if (address.hasError('required')) {
                <div class="error-message">請輸入地址</div>
                }
            </div>

            <div class="form-group">
                <label for="phone">電話</label>
                <input type="text" id="phone" placeholder="請輸入電話" formControlName="phone">
                @if (phone.hasError('required')) {
                <div class="error-message">請輸入電話</div>
                } @if (phone.hasError('pattern')) {
                <div class="error-message">電話必須為數字</div>
                }
            </div>

        </form>
    </div>

    <div class="cart-container">
        <h2>購買項目</h2>
        <table class="cart-table">
            <thead>
                <tr>
                    <th>產品名稱</th>
                    <th>
                        數量
                    </th>
                    <th>總價格</th>
                    <th>操作</th>
                </tr>
            </thead>
            @for (product of cartProduct$|async;track product.id ) {
            <tr>
                <th>{{ product.name }}</th>
                <th>
                    {{ product.quantity }}
                    <button class="add-button" (click)="onAdd(product)">+</button>
                    <button class="delete-button" (click)="onRemove(product)">-</button>
                </th>
                <th>$ {{ product.quantity * product.price }}</th>
                <th>
                    <button class="delete-button" (click)="onRemoveSingleProduct(product)">全部刪除</button>
                </th>
            </tr>
            }
        </table>
    </div>
</div>
<button class="delete-button" (click)="onRemoveAllProduct()">刪除全部商品</button>
<button class="add-button" [disabled]="form.invalid" (click)="onSendCheck()">送出訂單 ({{ totalCost | currency }})</button>